# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

##
# ignore visual studio stuff
##

*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf

# ignore results
vc12/[Ww]in32
c12/x64/
vc12/x86/
vc12/build/
vc12/bld/
vc12/[Bb]in/
vc12/[Oo]bj/

